
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <div class="jumbotron text-center">
            <h1>
                This is for  Tv service
            </h1>
            <div>
                <h3>@Html.ActionLink("Homepage", "index", "Home")</h3>
            </div>
            <div>
                <h3>@Html.ActionLink("Servicespage", "services", "service")</h3>
            </div>
        </div>
    </div>
</body>
</html>
